Body{
background-color: #d179fa;
}
form{
    padding: 20px;
    background-color: #e1cbec;
    width: 30cm;
    height: 15cm;
    border-radius: 15px;
    font-size: 20px;
}
input{
    font-size: 20px;
}
button{
    background-color: #008a22; 
    width: 150px;
    height: fit-content;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    transition: color 0.3 ease;

}
button:hover{
    background-color: #9aff91;
    color: #008a22;
}